@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Italic.woff2') format('woff2'),
        url('../font/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.woff2') format('woff2'),
        url('../font/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../font/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../font/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../font/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Thin.woff2') format('woff2'),
        url('../font/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Light.woff2') format('woff2'),
        url('../font/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../font/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-LightItalic.woff2') format('woff2'),
        url('../font/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../font/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../font/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../font/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../iconos/fontawesome-webfont.eot?v=4.7.0');
  src: url('../iconos/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../iconos/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../iconos/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../iconos/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../iconos/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}




html{
  scroll-behavior: smooth;
}

body{
	overflow-x: hidden; 
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
	padding: 0 7rem;
	position: fixed;
	z-index: 900;
	width: 100%;
	background-image:  url('../imagen/navbar.jpg')
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #fff;
	margin: 1rem;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
	width: 147px;
  height: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 6px;
  margin: -3px;
}

.redes{
  padding-left: 8rem;
}

.redes img{
  margin-left: 11px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #8da7a5;
}

.imagen-banner img{
  margin-top: 72px;
}

.cuadrado{
	background: #205250;
	position: absolute;
	opacity: 0.66;
	width: 422px;
    height: 563px;
    margin: 8rem;
    margin-left: 7rem;
}

.conectate h1{
  width: 255px;
  height: 49px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5.33px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 3rem;
}

.con-tus {
  display: -webkit-box;
  width: 143px;
  height: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.67px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 74px;
}

.con-tus .text-style-1{
  width: 143px;
  height: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: 2.67px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 8px;
}

.observa{
  width: 318px;
  height: 22px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  margin-left: 3rem;
  padding-top: 4rem;
}
.respira {
  width: 318px;
  height: 22px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  margin-left: 3rem;
  padding-top: 4rem;
}

.siente {
  width: 362px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  margin-left: 2rem;
  padding-top: 4rem;
}

.m{
  width: 362px;
  height: 22px;
  font-family: Montserrat;
  font-size: 57px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  margin-left: 2rem;
  padding-top: 4rem;
}

.desde{
  width: 362px;
  height: 22px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  margin-left: 2rem;
  padding-top: 5rem;
}

.barra{
	background: #205250;
	width: 100%;
	height: 245px;
}
.main-barra{
	display: -webkit-box;
}

.barra-text{
	padding: 5rem; 
}

.barra-text h2{
	font-size: 32px;
	font-weight: 900;
	color: #ffffff;
}

.barra-text p{
	font-size: 25px;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 2.67px;
	opacity: 0.9
}

.input{
	display: flex;
	width: 100%;
	padding: 2rem;
}

.inputs{
  display: flex;
  flex-direction: column;
}
.input input{
  width: 255px;
  height: 40px;
  background-color: #ffffff;
  list-style: none;
  outline: none;
  border: none;
  padding: 1rem;
  margin: 8px;
}

.input textarea{
  width: 255px;
  height: 80px;
  background-color: #ffffff;
  list-style: none;
  outline: none;
  border: none;
  padding: 1rem;
  margin: 8px;

}

.cuadrito1 {
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  margin-left: 1rem;
}

.politica{
  display: flex;
  margin: -7px;
}

.politica p{
  margin-left: 7px;
  width: 173px;
  height: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.03px;
  color: #ffffff;
}

.enviar {
  width: 255px;
  height: 40px;
  border: solid 1px #ffffff;
  margin-left: 9px;
}

.enviar p{
  width: 170px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.62px;
  text-align: center;
  color: #ffffff;
  margin: 8px;
  margin-left: 40px;

}

.main-vive{
	display: flex;
	justify-content: space-between;
}

.text-vive{
	padding: 4rem;
	padding-top: 10rem;
}

.text-vive h3 {
  width: 422px;
  height: 49px;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.41px;
  color: #585e59;
  text-transform: uppercase;
  margin: 4rem;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

.text-vive span {
  font-weight: 600;
  letter-spacing: 1.38px;
  display: contents;
}

 .numero{
  width: 164px;
  height: 183px;
  opacity: 0.16;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.72px;
  color: #585e59;
  list-style: none;
}  

.vive-imagen{
	margin-top: 4rem;
}
.cerca-de-todo h4{
  width: 716px;
  height: 55px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.05px;
  color: #585e59;
}

.cerca-de-todo p{
  width: 716px;
  height: 96px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.05px;
  color: #2d2d2d;
}

.line{
  width: 106px;
  height: 9px;
  background-color: #205250;
  margin-top: 3rem;
}

.text-estamos-cerca{
  position: absolute;
  padding-left: 46rem;
  padding-top: 80px;
}


.imagen-estamos-cerca img{
	padding-top: 2rem;
}

.imagen-ubicacion{
  position: absolute;
}
.estamos-cerca h4{
  width: 444px;
  height: 49px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.41px;
  position: absolute;
  margin: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #205250;
  z-index: 1;
}

.estamos-cerca span{
  font-weight: 600;
  letter-spacing: 1.38px;
  background-color: transparent;
}
.numero2{
  width: 193px;
  height: 183px;
  opacity: 0.16;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.72px;
  color: #ffffff;
}

.text-video p{
  margin: 16rem;
  margin-left: 31rem;
  position: absolute;
  width: 360px;
  height: 43px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-transform: uppercase;
}

.play img{
  position: absolute;
  margin: 20rem;
  margin-left: 596px;
}

.imagen-otros{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.habilidades-otros{
  width: 719px;
  height: 264px;
  opacity: 0.66;
  background-color: #205250;
  position: absolute;
  margin-top: -264px;
  display: flex;
}

.logo-prato{
  list-style: none;
  margin-top: 15px;
}

.prato-apartamento {
  width: 180px;
  height: 54px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.73px;
  color: #ffffff;
  list-style: none;
  margin-top: 9px;
  text-transform: uppercase;
}
.prato-apartamento .text-style-1 {
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 0.91px;
  text-transform: none;
}
.area-70-m-hasta-87 {
  width: 284px;
  height: 60px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  list-style: none;
}
.area-70-m-hasta-87 .text-style-1 {
  font-size: 25px;
}

.Desde-323601608-V {
  width: 296px;
  height: 52px;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  list-style: none;
}

.Desde-323601608-V .text-style-1 {
  font-size: 20px;
  display: contents;
}

.Desde-323601608-V .text-style-2 {
  font-size: 15px;
}


.Livorno-APARTAMENTOS {
  width: 180px;
  height: 54px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.73px;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
  margin-top: 9px;
}
.Livorno-APARTAMENTOS .text-style-1 {
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 0.91px;
}

.rectangle {
  width: 176px;
  height: 49px;
  border: solid 1px #ffffff;
  margin-left: 8rem;
  margin-top: 12rem;
}

.text-rectangle {
  width: 138px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.87px;
  color: #ffffff;
  margin: 1rem;
}

.text-ubicacion2{
  width: 252px;
  height: 49px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.41px;
  color: #ffffff;
  position: absolute;
  padding: 28px;
  text-transform: uppercase;
}

.texto-ubicacion {
  width: 698px;
  height: 49px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.38px;
  color: #585e59;
  padding: 2rem;
  margin-left: 21rem;
}
.texto-ubicacion .text-style-1 {
  font-weight: 900;
  letter-spacing: 1.41px;
  display: contents;
}

.imagen-ubicacion2 img{
  padding: 5rem;
}

.imagen-ubicaion-logo img{
  margin-top: -57rem;
  margin-left: 1rem;
}

.descricion{
  position: absolute;
  width: 100%;
  padding: 3rem;
  margin-left: 2rem;
}

.text-descripcion {
  width: 479px;
  height: 49px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.41px;
  color: #ffffff;
  position: absolute;
  margin: 4rem;
  text-transform: uppercase;
  background-color: #205250;
  z-index: 1;
}

.text-descripcion span{
  font-weight: 600;
  letter-spacing: 1.38px;
  background-color: transparent; 
}

.numero6 {
  width: 201px;
  height: 183px;
  opacity: 0.26;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.72px;
  color: #ffffff;
}

.contactos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.habilidad-contacto {
  width: 259px;
  height: 63px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
  list-style: none;
}

.habilidad-contacto .text-style-1 {
  font-weight: 300;
}


.habilidades-parte-ultima{
  position: absolute;
  list-style: none;
}

.cuadrado-contacto{
  width: 578px;
  height: 372px;
  border: solid 1px #ffffff;
  margin: 4rem;
  margin-right: 140px;
}

.habilidad-parte-ultima {
  width: 259px;
  height: 79px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.habilidad-parte-ultima .text-style-1 {
  font-weight: 600;
}

.input-contacto{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-contacto input{
  width: 247px;
  height: 38px;
  border: solid 1px #ffffff;
  background-color: rgba(255, 255, 255, 0.04);
  margin: 1rem;
}

.inputs-contacto input{
  width: 535px;
  height: 38px;
  border: solid 1px #ffffff;
  background-color: rgba(255, 255, 255, 0.04);
  margin: 1rem;
}

.cuadrito{
  width: 12px;
  height: 12px;
  border: solid 1px #ffffff;
  background-color: rgba(255, 255, 255, 0.12);
  margin-left: 1rem;
}

.cuadrito p{
  width: 174px;
  height: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  color: #ffffff;
  margin-left: 19px;
}

.text-estamos-cerca i{
  font-family:
}

.habilidades-ultimas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.habilidades-parte-ultima{
  padding: 4rem;
}

.habilidad-parte-ultima span{
  display: block;
  font-weight: 300;
}

@media (min-width: 0px) and (max-width: 767px){

  .navbar.navbar-expand-lg.navbar-light.bg-light{
    width: 100vw;
    padding: 0px 34px
  }

  .imagen-banner img{
    width: 100%;
  }

  .cuadrado{
    width: 120px;
    height: 140px;
    margin: 5rem;
    margin-left: 1rem;
    padding-top: 3px;
  }

  .conectate h1{
    padding: 7px;
    font-size: 10px;
  }

  .con-tus{
    font-size: 9px;
    letter-spacing: -0.33px;
    margin-left: 13px;
    margin-top: -34px;
  }

  .con-tus .text-style-1{
    width: 0;
    font-size: 9px;
    letter-spacing: -0.33px;
  }

  .observa{
    font-size: 5px;
    letter-spacing: 2px;
    margin-left: -97px;
    padding-top: 0rem;
  }

  .respira{
    font-size: 5px;
    letter-spacing: 2px;
    margin-left: -97px;
    padding-top: 0rem;    
  }

  .siente{
    font-size: 4px;
    letter-spacing: 2px;
    margin-left: -120px;
    padding-top: 0rem;  
    height: 14px;  
  }

  .m{
    font-size: 8px;
    letter-spacing: 2px;
    margin-left: -120px;
    padding-top: 0rem;    
  }

  .desde{
    font-size: 5px;
    letter-spacing: 2px;
    margin-left: -120px;
    padding-top: 0rem;
    margin-top: -7px; 
  }

  .barra{
    height: 249px;
  }

  .main-barra{
    display: block;
  }

  .barra-text{
    padding: 3rem;
    padding-top: 3px;
  }

  .barra-text h2{
    font-size: 16px;   
  }

  .barra-text p{
    font-size: 12px;
    margin-top: -6px;
  }

  .inputs{
    margin-top: -5rem;
  }

  .input{
    display: block;
  }

  .input input {
    width: 182px;
    height: 14px;
    margin-top: -54px;
    padding: 11px;
    margin: 3px;
    margin-left: 16px;
  }

  .input textarea {
    width: 182px;
    height: 45px;
    padding: 8px;
    margin: 3px;
    margin-left: 16px;
  }

  .cuadrito1{
    margin-left: 23px;
  }

  .politica p{
    font-size: 11px;
  }

  .enviar {
    width: 182px;
    height: 24px;
    margin-left: 16px;
  }

  .enviar p{
    font-size: 15px;
    margin: 2px;
    margin-left: 7px;
  }

  .main-vive{
    display: block;
  }

  .text-vive {
    padding: 1rem;
    padding-top: 1rem;
  }

  .text-vive h3{
    font-size: 20px;
    margin: 53px;
    width: 223px;
    height: 22px;
  }

  .numero{
    font-size: 116px;
  }

  .cerca-de-todo h4{
    font-size: 20px;
    height: 35px;   
  }

  .cerca-de-todo p{
    width: 266px;
    height: 96px;
    font-size: 15px;
  }

  .vive-imagen img{
    width: 100%;
  }

  .text-estamos-cerca{
    padding-left: 8rem;
    padding-top: 30px;
  }

  .estamos-cerca h4 {
    width: 160px;
    height: 18px;    
    font-size: 13px;
    margin: 40px;
    margin-left: 28px;
  }

  .numero2{
    font-size: 83px;
  }
  
  .imagen-ubicacion {
    width: 40%;
  }

  .imagen-estamos-cerca img {
    padding-top: 2rem;
    width: 100%;
    height: 19vh;
  }
  
  .text-video p {
    margin: 55px;
    margin-left: 95px;
    font-size: 17px;
  }

  .play img {
    margin: 75px;
    margin-left: 150px;
    width: 20px;
  }

  .video-toscana img{
    width: 100%;
  }

  .imagen-otros{
    display: block;
  }

  .imagen img{
    width: 100%;
  }

  .logo-prato {
    width: 57px;
    margin-top: 5px;
  }

  .habilidades-otros {
    width: 100%;
    height: 128px;
    margin-top: -128px;
  }

  .prato-apartamento {
    height: 27px;
    font-size: 11px;
  }

  .prato-apartamento .text-style-1 {
    font-size: 9px;
  }

  .Livorno-APARTAMENTOS {
    height: 31px;
    font-size: 11px;
  }

  .Livorno-APARTAMENTOS .text-style-1 {
    font-size: 9px;
  }

  .area-70-m-hasta-87 {
    height: 28px;
    font-size: 11px;
  }

  .area-70-m-hasta-87 .text-style-1 {
    font-size: 10px;
  }
  
  .Desde-323601608-V {
    font-size: 11px;
  }

  .Desde-323601608-V .text-style-1 {
    font-size: 13px;
  }

  .Desde-323601608-V .text-style-2 {
    font-size: 9px;
  }
  
  .rectangle {
    width: 117px;
    height: 30px;
    margin-left: -156px;
    margin-top: 93px;
  }

  .text-rectangle{
    font-size: 9px;
    margin: 10px;
  }

  .text-ubicacion2{
    font-size: 12px;
    padding: 8px;
  }

  .imagen2 img{
    width: 100%;
    height: 27px;
  }

  .imagen-ubicacion2 img {
    padding: 1rem;
    width: 100%;
  }

  .imagen-ubicaion-logo img {
    margin-top: -13rem;
    margin-left: 5px;
    width: 70px;
  }

  .texto-ubicacion{
    font-size: 13px;
    padding: 2rem;
    margin-left: 0rem;
  }

  .contactos {
    display: block;
  }

  .habilidad-contacto {
    width: 98px;
    height: 25px;
    font-size: 8px;
  }

  .img img{
    width: 100%;
    height: 45vh;
  }

  .descricion {
    padding: 0;
  }

  .text-descripcion {
    width: 230px;
    height: 21px;
    font-size: 18px;
    margin: 23px;
  }

  .numero6 {
    height: 58px;
    font-size: 57px;
  }

  .cuadrado-contacto {
    width: 239px;
    height: 176px;
    margin-top: 108px;
    margin-left: 0;
  }

  .input-cuadrado{
    margin-top: 10px;
  }

  .input-contacto input {
    width: 108px;
    font-size: 9px;
    height: 21px;
    margin: 4px;
  }

  .inputs-contacto input {
    width: 227px;
    height: 21px;
    margin: 4px;
  }
  
  .cuadrito {
    width: 10px;
    height: 10px;
    margin: 4px;
  }

  .cuadrito p{
    font-size: 9px;
  }

  .imagen-parte-ultima img{
    width: 100%;
    height: 17vh;
  }

  .habilidad-parte-ultima{
    font-size: 7px;
    width: 97px;
  }

  .habilidad-parte-ultima p{
    margin-bottom: 0;
  }

  .habilidades-parte-ultima{
    padding: 10px;
  }

  .habilidades-parte-ultima img{
    width: 60px;
  }

}
